<li class="h-cart">
    <a class="cart-contents" href="cart.html">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <!--Asignamos en este span la session de cart pero con length es la cantidad-->
            <span>{{request.session.cart.items|length}}</span>
        </p>
        <!--Asignamos aqui la session cartMontoTotal-->
        <p class="h-cart-total">${{request.session.cartMontoTotal}}</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <ul class="cart_list">
                 <!--Asignamos aqui la session cart con value pondremos valores-->
                {% for key,value in request.session.cart.items %}
                <li>
                    <a href="{% url 'web:eliminarProductoCarrito' value.producto_id %}" class="remove">&times;</a>
                    <a href="#">
                        <!--Asignamos imagen y nombre-->
                        <img src="{{value.imagen}}" alt="">
                        {{value.nombre}}
                    </a>
                    <!--Asignamos cantidad y subtotal-->
                    <span class="quantity">{{value.cantidad}} &times; ${{value.subtotal}}</span>
                </li>
                {% endfor %}
            </ul>
            <!--Asignamos la session cartMontoTotal-->
            <p class="total"><b>Total:</b> ${{request.session.cartMontoTotal}}</p>
            <p class="buttons">
                <a href="{% url 'web:carrito' %}" class="button">Ver Carrito</a>
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>